{$HOSTNAME}, www.{$HOSTNAME} {
  proxy / meteor:80 {
    websocket
  }
}

traccar.{$HOSTNAME} {
  proxy / traccar:8082 {
    websocket
  }
}

mongo-express.{$HOSTNAME} {
  proxy / mongo-express:8081
}

pgweb.{$HOSTNAME} {
  basicauth / admin mightyadminpass
  proxy / pgweb:8080
}
